.index{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.index .bg{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg.jpg);
  background-image: url(/static/img/bg.da876cf.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.index .wrap{
  position: absolute;
  width: 100%;
  height: 100%;
}

/* 返回按钮 */
.index .return-btn{
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 99999;
  width: 50px;
  height: 50px;
  border: 4px solid #fff;
  border-radius: 29px;
  background: url(../images/return.png)no-repeat;
  background-size: cover;
}

/* 用户按钮 */
.index .user-btn{
  position: absolute;
  top: 50px;
  right: 250px;
  z-index: 100;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #F48770;
}
/* 音乐 */
.index .bg-music{
  position: absolute;
  top: 50px;
  right: 100px;
  z-index: 100;
  width: 55px;
  height: 55px;
  border-radius: 25px;
  background-image: url(../images/music.png);
  background-repeat: no-repeat;
  background-size: 55px;
  animation: music 4s linear infinite;
/*   animation-play-state:paused; */
}
@keyframes music{
  0%{ transform: rotate(0deg)}
  100%{ transform: rotate(360deg)}
}
.wrap .logo-wrap{
  position: absolute;
  top: 50%;
  margin-top: -250px;
  left: 50%;
  margin-left: -350px;
  z-index: 10;
  width: 700px;
  height: 500px;
  transition-duration: 1s;
  transform-origin: right 340px;
}
.wrap .shade{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(200,200,200,0.1);
  cursor: pointer;
}
.wrap .big-title{
  position: absolute;
  left: 50%;
  margin-left: -200px;
  bottom: 150px;
  color: #fff;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
  letter-spacing: 20px;
  font-weight: 600;
  animation: big-title 2s linear infinite;
}
@keyframes big-title{
  0%{ opacity: 0.4;}
  50%{ opacity: 1;}
  100%{ opacity: 0.4;}
}
.wrap .content-inner{
  position: absolute;
  top: 50%;
  margin-top: 200px;
  left: 50%;
  margin-left: -400px;
  z-index: 20;
  width: 800px;
  height: 50px;
  text-align: center;
  overflow: hidden;
}
.wrap .content-inner .btn{
  display: inline-block;
  width: 200px;
  height: 50px;
  background-color: #F48770;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 5px;
  color: #fff;
  line-height: 50px;
  animation: show-btn .6s cubic-bezier(.54,.57,.44,1.7) 1;
  animation-fill-mode: forwards;
  cursor: pointer;
}
@keyframes show-btn{
  0%{ margin-top: 50px; opacity: 0.4;}
  100%{margin-top: 0px; opacity: 1;}
}

/* 登录部分 */
.login-content-wrap{
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  height: 400px;
  transition-duration: 1.5s;
  overflow: hidden;
}
.login-content-wrap .login-wrap{
  margin-top: -400px;
  animation: openlogin .8s linear .5s;
  animation-fill-mode: forwards;
}
@keyframes openlogin{
  0%{ margin-top: -400px;}
  100%{margin-top: 0px;}
}

/* 排行榜 */
.rank-wrap{
  position: absolute;
  top: 50%;
  margin-top: -300px;
  left: 50%;
  margin-left: -350px;
  padding: 100px;
  width: 600px;
  height: 450px;
}

/* 用户信息页 */
.user-wrap{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
}