/* 禁止文字选择 */
.edit, .btn, .uid{
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently*/
}

.info{
	position: absolute;
	width: 100%;
	height: 100%;
}
canvas{
	position: absolute;
	z-index: 9;
}
.left-bg{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../images/bg.jpg);
	background-size: 1200px 900px;
	background-position-y: -100px;
	-webkit-transition-delay: 0.2s;
	-webkit-filter: blur(10px); /* Chrome, Opera */
	-moz-filter: blur(10px);
	-ms-filter: blur(10px);    
	filter: blur(10px);
}
.user-info{
	position: absolute;
	right: 0px;
	width: 1000px;
	height: 100%;
}
.shade{
	position: absolute;
	top: 0px;
	z-index: 7000;
	width: 1000px;
	height: 520px;
	background-color: rgba(255, 255, 255, .2);
}
.user-info .option3{
	position: relative;
	margin: 120px 0 0 50px;
	float: left;
	width: 300px;
	height: 250px;
}
.user-info .option3 .uid{
	position: absolute;
	top: 50%;
	margin: -60px 0 0 100px;
	color: #fff;
}
.user-info .user{
	float: right;
	margin-right: 100px;
  width: 360px;
	height: 100%;
	/* background-color: rgba(255, 255, 255, .1); */
}
.user-info .user-img{
	position: relative;
	margin: 10px auto;
	width: 160px;
	height: 140px;
}
.user-img input{
	display: none;
}
.user-info .user-img .flame-img{
	position: relative;
	top: 32px;
	margin: 0 auto;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	overflow: hidden;
}
.user-info .user-img .flame-img img{
	width: 100%;
}

/* 更换头像 */
.editimg{
	position: absolute;
	top: 50px;
	z-index: 9999;
	margin: 50px 350px;
	width: 300px;
	height: 340px;
	box-shadow: 1px 1px 5px #fff;
	background-color: rgba(255, 255, 255, .9);
}
.editimg .title{
	position: absolute;
	top: -100px;
	left: -80px;
	width: 140px;
	height: 135px;
	color: #9F6030;
	font-size: 18px;
	font-weight: 600;
	line-height: 100px;
	transform: rotate(-50deg);
}
.editimg .editinp span{
  display: block;
  margin-top: -20px;
  text-align: right;
  width: 280px;
  height: 20px;
  font-size: 15px;
  font-weight: 500;
  color: #0ff344;
}
.editimg .title .bg{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
}
.editimg .title span{
	position: absolute;
	padding-left: 20px;
}
.editimg input{
	display: none;
}
.user-info .editimg .add-img-btn{
	z-index: 5;
	cursor: pointer;
}
.editimg .preview{
	position: absolute;
	z-index: 1;
	margin: 10px;
	width: 280px;
	height: 280px;
	line-height: 240px;
	text-align: center;
}
.editimg .preview img:nth-of-type(2){
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}
.editimg .preview img:nth-of-type(1){
	position: absolute;
	top: 90px;
	left: 90px;
	width: 100px;
}
.user-info .editimg .btn-wrap{
	width: 300px;
	bottom: 10px;
}
.user-info .editimg .btn-wrap .btn{
	width: 130px;
}
/* 更改密码 */
.editpwd{
	top: 100px;
	height: 240px;
	padding: 10px;
}
.editpwd .editinp{
	margin: 10px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-weight: 600;
	color: #F48770;
}
.editpwd input{
	display: inline-block;
	border: 3px solid #6DDC6D;
	border-radius: 8px;
	width: 195px;
	height: 30px;
	outline: none;
}
/* 名字 */
.user-info .name-wrap{
	position: relative;
	width: 100%;;
	height: 40px;
	line-height: 40px;
	color: #fff;
	overflow: hidden;
	/* background-color: rosybrown; */
}
.user-info .name-wrap .name{
	position: relative;
	display: inline-block;
	margin-right: -40px;
	width: 310px;
	font-size: 20px;
	font-weight: 600;
}
.user-info .name-wrap .edit{
	float: right;
	font-size: 11px;
	margin: 10px;
	height: 20px;
	width: 40px;
	text-align: center;
	line-height: 20px;
	background-color: #F48770;
	cursor: pointer;
}
.user-info .name-wrap .edit:hover{
  background-color: #0ff344;
} 
.user-info .name-wrap .inp{
	position: absolute;
	top: 3px;
	left: 60px;
	width: 220px;
	text-align: left;
	height: 32px;
	border: 1px solid #fff;
}
.user-info .name-wrap .inp input{
	position: absolute;
	top: 0px;
	padding-left: 20px;
	margin: 0px;
	width: 180px;
	height: 30px;
	border: 0px;
	outline: none;
	line-height: 30px;
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	background-color: rgba(37, 46, 75, 1); 
}

.user-info .account{
	margin: 10px 0;
	text-align: left;
	font-size: 20px;
	font-weight: 600;
}
.user-info .bar{
	width: 100%;
	margin: 20px 0;
	border-top: 3px solid #fff;
	color: #fff;
}
.user-info .snake{
	padding-left: 70px;
	width: 280px;
	height: 70px;
	color: #fff;
	font-weight: 600;
	font-size: 20px;
	line-height: 95px;
}
.user-info .btn-wrap{
	position: absolute;
	display: flex;
	justify-content: space-between;
	bottom: 0px;
	width: 360px;
	height: 30px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	font-size: 15px;
}
.user-info .btn-wrap .btn{
	display: inline-block;
	margin: 0 10px;
	width: 150px;
	height: 30px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	font-size: 15px;
	box-shadow: 0 2px 4px rgba(0,0,0,.16);
	background-color: #F48770;
	cursor: pointer;
}
.btn-wrap  .btn:hover{
  background-color: #0ff344;
} 
