.wrap {
  position: relative;
  width: 400px;
  height: 400px;
  transition-duration: 1s;
}
.wrap .inp {
  margin: 0 auto 50px auto;
  width: 340px;
  height: 70px;
}
.wrap .inp input{
  margin: 25px 0 0 55px;
  padding-left: 20px;
  width: 250px;
  height: 40px;
  border: 0px;
  border-radius: 25px;
  line-height: 540px;
  font-size: 17px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0);
  outline:none;
  color: #fff;
}
.wrap .title{
  width: 200px;
  height: 90px;
  margin: 0 0 20px 115px;
  line-height: 120px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #5CB43A;
}
.wrap .btn{
  margin: 0 0 20px 115px;
  width: 200px;
  height: 40px;
  text-align: center;
  background-color: #74f593;
  border: 0px;
  border-radius: 25px;
  color: #fff;
  line-height: 40px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,.16);
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently*/
}
.wrap .btn:hover{
  background-color: #0ff344;
} 




/* input placeholder默认样式 */

/* CSS Working Draft */
input::placeholder {
  padding-left: 65px;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 2px;
}